<p id="notice"><%= notice %></p>

<h1>All articles in database:</h1>

<%= link_to '<button type="button">New Article</button>'.html_safe, new_article_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to '<button type="button">Show</button>'.html_safe, article %></td>
        <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_article_path(article) %></td>
        <td><%= link_to '<button type="button">Delete</button>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
